<ul class="nav-menu">
    <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/registeration">Home</a></li>
    <!-- <li><a routerLinkActive="active" routerLink="/students">Students</a></li> -->
    <li><a routerLinkActive="active" routerLink="/students/5">Student Details</a></li>
    <li><a routerLinkActive="active" routerLink="/profile">Profile</a></li>
    <!-- <li><a routerLinkActive="active" routerLink="/registeration">registeration</a></li> -->

    <li><a routerLinkActive="active" routerLink="/asbkasd">Error</a></li>
</ul>